:root {
    --color-bg-1: 224, 224, 224;
    --color-bg-2: 32,32,32;

    --color-highlight-1: 0,128,255;

    --color-logo-1: 245, 245, 245;

    --menu-font-color: 245, 245, 245;

    --sidenav-width: 260px;
}

::-moz-selection {
    background-color: rgba(var(--color-highlight-1),1);
    color: black;
}

::selection {
    background-color: rgba(var(--color-highlight-1),1);
    color: black;
}

html, body {
  min-height: 100vh;
  margin: 0;
  border: 0 none;
  padding: 0;
}



.sidenav {
    height: 100%; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(var(--color-bg-2),1);
    overflow-x: hidden;
    padding-top: 20px;
}
.logo {
    width: 70%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border:4px solid rgba(var(--color-logo-1),1);
}
.menu {
    padding: 30px;
    color: rgba(var( --menu-font-color),1);
    text-align: center;
    z-index: 1;
}
.menu li{
    list-style: none;
    text-transform: uppercase;
}
.menu li a{
    color: rgba(var( --menu-font-color),1);
}
.menu li a:hover{
    text-decoration: none;
    color: rgba(var(--color-highlight-1),1);
}



section {
    display: flex;
    align-items: center;
    height:100%;
}

#home h1 {
    font-size: 62px;
}
#home .highlight {
    color: rgba(var(--color-highlight-1),1);
    font-weight: bold;
}
#home h1 mark {
    font-weight: bold;
    font-size: 72px;
    background-color: rgba(var(--color-highlight-1),1);
}
#home h3 {
    font-size: 26px;
}
#home h6 {
    font-size: 20px;
}